.App {
  display: grid;
  text-align: center;
  justify-content: space-around;
  height: 100vh;
  background: url('./images/background.png') no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registration-form {
  min-width: 350px;
  position: fixed;
  top: 10%;
  left: 60%;
}

@media only screen and (max-width: 600px) {
  .registration-form {
    min-width: 330px;
    position: fixed;
    top: 10%;
    left: 0%;
  }
}


@media screen and (max-width: 992px) {
  .registration-form {
    min-width: 330px;
    position: fixed;
    top: 10%;
    left: 6%;
  }
}


