.App {
  display: grid;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  text-align: center;
  justify-content: space-around;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.registration-form {
  min-width: 350px;
}



